<section class="hero is-fullheight custom-bg">
    <div class="hero-body" style="display: block !important">
        
        {{!-- NEW POST FORM --}}
      <form class="form" id="post-form">
        <div class="card" style="max-width: 80%">
          <div class="card-content">
            <p class="is-size-4"><strong>Create a New Post:</strong></p>

            {{!-- PROJECT TITLE INPUT --}}
            <div class="field">
              <label class="label">Project Title</label>
              <div class="control">
                <input class="input" id="post-title" type="text" placeholder="Enter a title for your project">
              </div>
            </div>
            
            {{!-- DESCRIPTION INPUT --}}
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea class="textarea" id="post-body" placeholder="Describe your project"></textarea>
              </div>
            </div>
            
            {{!-- SUBMIT BUTTON --}}
            <div class="field">
              <div class="control">
                <button class="button is-info" id="postBtn" type="submit">Post</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
</section>

<script src="/js/new.js"></script>